body {
	background-color: #3399FF;
    text-align: center;
	font-family: Arial, Verdana, Tahoma;
}

h1 {
    color: #ffffff;
}

#volume {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.3);
}

#weight {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.3);
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

img {
    width: 50%;
    max-width: 100%;
    height: auto;
}